.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.box {
    background-color: red;
    height: 400px;
    width: 600px;
    border: 20px;
    display: None;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btns,
button {
    margin: 10px;
}